@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap");



:root {
  --font-sora: "Sora", sans-serif;
  --font-code: "Source Code Pro", monospace;
  --font-grotesk: "Space Grotesk", sans-serif;
  color-scheme: dark;
}

* {
  scroll-behavior: smooth;
}

@layer base {
  body {
    @apply font-sans bg-n-8 text-n-1 text-base;
  }
}

.rotate-45 {
  @apply rotate-[45deg];
}

.rotate-90 {
  @apply rotate-[90deg];
}

.rotate-135 {
  @apply rotate-[135deg];
}

.rotate-180 {
  @apply rotate-[180deg];
}

.rotate-225 {
  @apply rotate-[225deg];
}

.rotate-270 {
  @apply rotate-[270deg];
}

.rotate-315 {
  @apply rotate-[315deg];
}

.rotate-360 {
  @apply rotate-[360deg];
}

.-rotate-45 {
  @apply rotate-[-45deg];
}

.-rotate-90 {
  @apply rotate-[-90deg];
}

.-rotate-135 {
  @apply rotate-[-135deg];
}

.-rotate-180 {
  @apply rotate-[-180deg];
}

.-rotate-225 {
  @apply rotate-[-225deg];
}

.-rotate-270 {
  @apply rotate-[-270deg];
}

.-rotate-315 {
  @apply rotate-[-315deg];
}

.-rotate-360 {
  @apply rotate-[-360deg];
}

@theme {
  /* Colors */
  --color-color-1: #AC6AFF;
  --color-color-2: #FFC876;
  --color-color-3: #FF776F;
  --color-color-4: #7ADB78;
  --color-color-5: #858DFF;
  --color-color-6: #FF98E2;

  --color-stroke-1: #26242C;

  --color-n-1: #FFFFFF;
  --color-n-2: #CAC6DD;
  --color-n-3: #ADA8C3;
  --color-n-4: #757185;
  --color-n-5: #3F3A52;
  --color-n-6: #252134;
  --color-n-7: #15131D;
  --color-n-8: #0E0C15;
  --color-n-9: #474060;
  --color-n-10: #43435C;
  --color-n-11: #1B1B2E;
  --color-n-12: #2E2A41;
  --color-n-13: #6C7275;

  /* Font Families */
  --font-sans: "Sora", ui-sans-serif, system-ui, sans-serif;
  --font-code: "Source Code Pro";
  --font-grotesk: "Space Grotesk";

  /* Letter Spacing */

  --tracking-tagline: 0.15em;

  /* Spacing */
  --spacing-0_25: 0.0625rem;
  --spacing-7_5: 1.875rem;
  --spacing-15: 3.75rem;

  /* Opacity */
  --opacity-15: 0.15;

  /* Transition */
  --transition-duration-DEFAULT: 200ms;
  --transition-timing-function-DEFAULT: linear;

  /* Z-Index */
  --z-index-1: 1;
  --z-index-2: 2;
  --z-index-3: 3;
  --z-index-4: 4;
  --z-index-5: 5;

  /* Border Width */
  --border-width-DEFAULT: 0.0625rem;

  /* Background Images */
  --background-image-radial-gradient: radial-gradient(var(--tw-gradient-stops));
  --background-image-conic-gradient: conic-gradient(from 225deg, #FFC876, #79FFF7, #9F53FF, #FF98E2, #FFC876);
  --background-image-benefit-card-1: url(assets/benefits/card-1.svg);
  --background-image-benefit-card-2: url(assets/benefits/card-2.svg);
  --background-image-benefit-card-3: url(assets/benefits/card-3.svg);
  --background-image-benefit-card-4: url(assets/benefits/card-4.svg);
  --background-image-benefit-card-5: url(assets/benefits/card-5.svg);
  --background-image-benefit-card-6: url(assets/benefits/card-6.svg);
}

/* Custom Components */
@layer components {
  .container {
    @apply max-w-[77.5rem] mx-auto px-5 md:px-10 lg:px-15 xl:max-w-[87.5rem];
  }

  .h1 {
    @apply font-semibold text-[2.5rem] leading-[3.25rem] md:text-[2.75rem] md:leading-[3.75rem] lg:text-[3.25rem] lg:leading-[4.0625rem] xl:text-[3.75rem] xl:leading-[4.5rem];
  }

  .h2 {
    @apply text-[1.75rem] leading-[2.5rem] md:text-[2rem] md:leading-[2.5rem] lg:text-[2.5rem] lg:leading-[3.5rem] xl:text-[3rem] xl:leading-tight;
  }

  .h3 {
    @apply text-[2rem] leading-normal md:text-[2.5rem];
  }

  .h4 {
    @apply text-[2rem] leading-normal;
  }

  .h5 {
    @apply text-2xl leading-normal;
  }

  .h6 {
    @apply font-semibold text-lg leading-8;
  }

  .body-1 {
    @apply text-[0.875rem] leading-[1.5rem] md:text-[1rem] md:leading-[1.75rem] lg:text-[1.25rem] lg:leading-8;
  }

  .body-2 {
    @apply font-light text-[0.875rem] leading-6 md:text-base;
  }

  .caption {
    @apply text-sm;
  }

  .tagline {
    @apply font-grotesk font-light text-xs tracking-tagline uppercase;
  }

  .quote {
    @apply font-code text-lg leading-normal;
  }

  .button {
    @apply font-code text-xs font-bold uppercase tracking-wider;
  }
}

/* Custom Utilities */
@layer utilities {
  .tap-highlight-color {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
}